html {
	text-align: left;
	font-family: OpenSans-Light;
}
body
{
	width:100%;
	text-align:center;    
	margin: 0px;
	min-height: 800px;
	background-color: #13151E;
	color: #FFFFFF;
	font-family: OpenSans-Light;
}
a
{
	xtext-decoration:none;
	color: #40a8de;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../font/OpenSans-Light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../font/OpenSans-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LobsterTwo-BoldItalic';
  src: url('../font/LobsterTwo-BoldItalic.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
.Shield-Copy-3 {
	width: 71px;
	height: 84px;
	object-fit: contain;
	position: absolute;
	left: 58px;
	top: 39px;
	background: url(../img/shield-copy-3.png);
}
.settings-title
{
	width: 418px;
	height: 28px;
	font-family: OpenSans-Bold;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.78;
	text-align: left;
	color: #ffffff;
	position: absolute;
	left: 155px;
	top: 43px;
}
.Customize-your-My-St {
	width: 406px;
	height: 28px;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.17;
	text-align: left;
	color: #ffffff;
	position: absolute;
	left: 155px;
	top: 88px;
}
.separator {
	width: 694px;
	height: 1px;
	background-image: radial-gradient(circle at 50% 0, #40a8de, rgba(0, 0, 0, 0.5));
	position:absolute; 
	left: 39px;
	top: 140px;
}
.top-header 
{
	padding-top: 0px;
	padding-bottom: 30px;
}
.list
{
	position: absolute;
	top: 122px;
	left: 50px;
}
.checkbox {
	width: 18px;
	height: 18px;
	border: solid 1px #40a8de;
	border-radius: 4px;
	background-clip: padding-box;
	margin: 5px 15px 0 0px;
	cursor: pointer;
	float: left;
}
.checkbox-checked, .checkbox-intermed {
	border: solid 1px #40a8de;
	background-repeat: no-repeat;
}
.label
{
	margin-top: 0px;
}
.checkbox-checked {
  background-image: url(../img/tick2.png);
  background-position: 3px 3px;
}
.item
{
	text-align: left;
	line-height: 25px;
	width: 586px;
	font-size: 17px;
	padding-bottom: 10px;
}
.header
{
	text-align: left;
	padding-top: 30px;
	padding-bottom: 15px;
}
.title
{
	line-height: 24px;
	font-size: 17px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #40a8de;
	font-family: OpenSans-bold;
	display: inline;
}
.description
{
	text-align: left;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	color: #3488b2;
	display: inline;
}
.buttons {
  padding-top: 40px;
  padding-left: 90px;
  height: 90px;
  xborder: 1px solid #ebebeb;
  xbackground-color: #f8f8f8;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
.button {
  cursor: pointer;
  border: #67737b;
  color: #67737b; /* text color */
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 0 35px 0 35px;
  height: 40px;
  border-radius: 5px; /* border radius */
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: #dddfe1; /* layer fill content */
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.14); /* inner shadow */
}

.button.blue {
  border: #09bdf1;
  background-color: #007FD0; /* layer fill content */
  color: #fff; /* text color */
}
.hover-bar {
  width: 221px;
  height: 34.7px;
  border-radius: 100px;
  border: solid 1px #255f7e;
  cursor: pointer;
}
.Reset-to-default {
  width: 133px;
  height: 28px;
  padding-left: 0px;
  padding-top: 3px;
  position:absolute;
  top: 830px;
  left: 90px;
}