body
{
	width: 360px;
	height: 600px;
	background-color: #1f2231;
	margin: 0px 0px;
	overflow: hidden;
	font-family: OpenSans-Light;
	/*border:solid 1px red;*/
}
::-webkit-scrollbar  
{
    width: 8px;
	/* 1 */
}
::-webkit-scrollbar-button:start        
{
	/* 2 */
	background-color: #455975 !important;
	height: 1px;
}
::-webkit-scrollbar-button:end
{
	height: 0px;
}
::-webkit-scrollbar-track 
{
	/* 3 */
}
::-webkit-scrollbar-track-piece    
{
	/* 4 */
    background-color: #455975 !important;
	opacity: 0.4;
}
::-webkit-scrollbar-thumb
{
	/* 5 */
    background-color: #343434 !important;
}
a:hover {
	opacity: 0.8;
}
.layer {
	position: absolute;
	z-index: 5;
}
.layer-background {
	position: absolute;
}
.header-bar-top {
	width: 360px;
	height: 3px;
	box-shadow: 0 0 10px 0 #46aa2a;
}
.status
{
	height: 24px;
	top:0px;
}
.green {
	background-color: #5ade35;
	width: 80px;
	left:280px;
}
.red {
	background-color: #de3535;
	width: 90px;
	left:270px;
}
.gray {
	background-color: #25607e;
	width: 90px;
	left:270px;
	color: #ffffff;
}
.SAFE {
	xwidth: 33px;
	height: 19px;
	font-family: OpenSans-Bold;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffffff;
	top:3px;
	left:11px;
}
.Tick {
	width: 14.2px;
	height: 10px;
	color: #ffffff;
}
.Path {
	width: 14.2px;
	height: 10px;
	background-color: #ffffff;
}
.domain {
	xwidth: 135px;
	height: 28px;
	font-family: OpenSans-Light;
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	text-align: center;
	color: #ffffff;
}
.app-bar-bg-copy {
	width: 360px;
	height: 0.5px;
	background-image: radial-gradient(circle at 50% 0, #40a8de, rgba(0, 0, 0, 0.5));
	position: absolute;
	left:0px;
	top: 56px;
}
.a {
	width: 20px;
	height: 21px;
	left: 14px;
	top : 69px;
	object-fit: contain;
}
.Rank {
	width: 31px;
	height: 19px;
	font-family: OpenSans-Light;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffffff;
	left: 35px;
	top : 69px;
}
.Ranking {
	xwidth: 43px;
	height: 19px;
	font-family: OpenSans-Light;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #58bef4;
	left: 70px;
	top : 69px;
}
.more-details {
	width: 69px;
	height: 17px;
	font-family: OpenSans-Light;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	text-decoration: underline;
	color: #ffffff;
	left: 228px;
	top:71px;
}
.alexabar {
	width: 6px;
	height: 18px;
	left: 310px;
	top:64px;
}
.Orb {
	width: 196px;
	height: 196px;
	object-fit: contain;
	background-image: url('./../img/orb.png');
	left: 83px;
	top: 85px;
}
.Orb-Red {
	width: 196px;
	height: 196px;
	object-fit: contain;
	background-image: url('./../img/orb-red.png');
	left: 83px;
	top: 85px;
}
.Tracking-Number {
	width: 90.5px;
	height: 88px;
	font-family: OpenSans-Bold;
	font-size: 65px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #ffffff;
	left:137px;
	top: 109px;
}
.Tracking-Systems {
	width: 125px;
	height: 48px;
	font-family: OpenSans-Light;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #ffffff;
	left:118px;
	top: 185px;
}
.Block {
	width: 34px;
	height: 19px;
	opacity: 0.85;
	font-family: OpenSans-Light;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffffff;
	left: 264px;
	top: 257px;
}
.Line-big-on {
	width: 31px;
	border: solid 1px #58bef4;
	box-shadow: 0 0 4px 0 #70ceff;
	left: 304px;
	top: 266px;
}
.Line-big-off {
	width: 31px;
	border: solid 1px #4381a1;
	box-shadow: 0 0 4px 0 #2d617c;
	left: 304px;
	top: 266px;
}
.Line-small-on {
	width: 23px;
	border: solid 1px #58bef4;
	box-shadow: 0 0 4px 0 #70ceff;
	position: relative;
	left: 310px;
	top: -9px;
}
.Line-small-off {
	width: 23px;
	border: solid 1px #4381a1;
	box-shadow: 0 0 4px 0 #2d617c;
	left: 310px;
	top: -9px;
	position: relative;
}
.knob-big-on 
{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #40a8de;
	box-shadow: 0 0 1px 0 #3a6e8f, 0 0 1px 0 #366785;
	xborder-style: solid;
	border-width: 0.5px;
	border-image-source: linear-gradient(NaNdeg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
	border-image-slice: 1;
	left: 324px;
	top: 258px;
}
.knob-big-off
{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #183f53;
	box-shadow: 0 0 1px 0 #203e51, 0 0 1px 0 #1f3c4e;
	xborder-style: solid;
	border-width: 0.5px;
	border-image-source: linear-gradient(NaNdeg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
	border-image-slice: 1;
	left: 302px;
	top: 258px;
}
.small-slider
{
	cursor: pointer;
}

.knob-small-on
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	box-shadow: 0 0 1px 0 #203e51, 0 0 1px 0 #1f3c4e;
	xborder-style: solid;
	border-width: 0.5px;
	border-image-source: linear-gradient(NaNdeg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
	border-image-slice: 1;
	background-color: #40a8de;
	left: 331px;
	top: -15px;
	position: relative;
}

.knob-small-off
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	box-shadow: 0 0 1px 0 #203e51, 0 0 1px 0 #1f3c4e;
	xborder-style: solid;
	border-width: 0.5px;
	border-image-source: linear-gradient(NaNdeg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
	border-image-slice: 1;
	background-color: #183f53;
	left: 310px;
	top: -15px;
	position: relative;
}
.category
{
	display: block;
	min-height: 44px;
	z-index: 1000;
}
.categories {
	width: 136px;
	height: 22px;
	font-family: OpenSans-Light;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffffff;
	position:relative;
	left: 15px;
}
.selectedcat
{
	color: #40a8de;
}
.expand {
	width: 19px;
	height: 13px;
	object-fit: contain;
	left:325px;
}
.collapse {
	width: 20px;
	height: 13px;
	object-fit: contain;
}
.scrollbar 
{
	height:auto;
	max-height:105px; 
	overflow: hidden; 
}
.bar {
  width: 360px;
  height: 26px;
  position:relative;
  xtop: 7px;
  xborder: solid 1px red;
  padding-top: 2px;
}
.hover-bar {
  width: 360px;
  height: 26px;
  background-image: linear-gradient(to right, rgba(88, 189, 244, 0), rgba(88, 189, 244, 0.32) 52%, rgba(88, 189, 244, 0));
  position:relative;
  xborder: solid 1px red;
}
.sub-cat
{
  width: 200px;
  height: 17px;
  opacity: 0.8;
  font-family: OpenSans-Light;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  position: relative;
  display: inline-table;
  left: 30px;
  top: 2px;
}
input[type=checkbox] {
	display:none;
}
input[type=checkbox] + label
{
	width: 18px;
	height: 18px;
	border-radius: 4px;
	border: solid 1px #40a8de;
	display:inline-block;
	top: 520px;
	left:325px;
}
input[type=checkbox]:checked + label
{
	background: url("./../img/tick2.png") no-repeat scroll 2px 2px transparent;   
	width: 18px;
	height: 18px;
	border-radius: 4px;
	border: solid 1px #40a8de;
	display:inline-block;
	top: 520px;
	left:325px;
}
.separator {
	width: 360px;
	height: 0.5px;
	background-image: radial-gradient(circle at 50% 0, #40a8de, rgba(0, 0, 0, 0.5));
	left: 0px;
}
.Block-trackers-on-all {
  width: 140px;
  height: 17px;
  opacity: 0.85;
  font-family: OpenSans-Light;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  left: 183px;
  top: 520px;
}
.separator-footer {
	width: 360px;
	height: 0.5px;
	background-image: radial-gradient(circle at 50% 0, #40a8de, rgba(0, 0, 0, 0.5));
	left: 0px;
	top: 552px;
}
.footerbar {
	width: 360px;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.38);
	left: 0px;
	top: 552px;
}
.Fill-4 {
	width: 30px;
	height: 30px;
	left: 16px;
	top: 561px;
}

.myStart-Shield {
	width: 127px;
	height: 19px;
	font-family: LobsterTwo-BoldItalic;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	font-stretch: normal;
	text-align: left;
	color: #ffffff;
	left: 47px;
	top: 565px;
}

.myStart-Shield .text-style-1 {
  font-family: OpenSans-Light;
  font-weight: 300;
  font-style: normal;
}
.Fill-6 {
	width: 24px;
	height: 25px;
	object-fit: contain;
	left: 323px;
	top: 564px;
}
.gear {
	width: 17.9px;
	height: 18.4px;
	background-color: #183f53;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.8;
    cursor: default !important;
}
.enabledcursor 
{
	cursor: pointer;
}